// color and background

$button-bg-disabled: #878787;
$button-color-disabled: #a7a7a7;
$text-color-black: #000000;
$text-color-grey: #7c7c7c;
$input-error-color: #ff0000;
$input-label-color: #444444;
$input-text-color: #c1c1c1;
$input-bg: #f2ecff;
$input-bg-hover: #e9dfff;
$input-error-color: #ff3a3c;
$surface-color: #ffffff;
$focus-color: #2196f3;
$main-bg: #ffffff;
$card-starter-color: #ffb547;
$card-basic-color: #f44336;
$card-standard-color: #5555ce;
$card-pro-color: #ff7542;
