$layout-margin-mobile: 0 20px;
$header-size: 80px;
$header-size-small: 64px;
$letter-spacing: .15px;

// text font-size
$intro-text: 20px;
$body-text: 16px;
$caption-text: 14px;
$micro-text: 12px;
$font-size-form: 15px;

$font-family: "Roboto-Regular", Fallback, sans-serif;
$line-height-form: 22, 5px;
$line-height-title: 32px;
$font-weight: 500;
$font-weight-normal: "normal";
