.noDataHeader {
  color: rgba(0, 0, 0, .87);
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
}

.noDataDesc {
  max-width: 714px;
  margin: 8px;
  color: rgba(0, 0, 0, .34);
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 143%;
  letter-spacing: .15px;
  text-align: center;
}
