@import "resources/mixins.scss";

.text {
  margin: 10px 0 35px!important;
}

.button {
  margin: 21px 0 16px!important;
  height: 42px;
  width: 280px;
}

.link {
  color: $focus-color;
  text-decoration: none;
}

.formControl {
  width: 100%;
}

.form {
  width: 276px;
}

.inAppInput {
  width: 280px;
  input {
    width: 280px;
  }
}

.inAppButton {
  width: 280px;
  height: 42px;
}

.inAppText {
  width: 241px;
  word-break: break-word;
  text-align: center;
}
