.modal {
  padding-top: 56px!important;
  padding-bottom: 60px!important;
  width: 370px;
  height: 200px;
}

.block {
  margin: 0 10px 120px;
}

.title {
  margin: 10px 0 !important;
}

.button {
  margin-top: 28px;
  width: 116px;
  height: 36px;
}
