@import "resources/colors.scss";

.title {
  margin-bottom: 4px;
}

.gridContainer {
  display: flex !important;
  flex-wrap: nowrap;
  align-items: stretch !important;
}

.blockPlans {
  margin-top: 26px;

  .img {
    margin-bottom: -4px;
  }

  .listItem {
    display: flex;
    align-items: flex-start;
    margin: 4px 0;
    color: rgba(0, 0, 0, .54);
    text-decoration: none;

    :first-child {
      margin-right: 12.27px;
    }

    svg {
      color: green;
    }
  }
}

.starter {
  border-top: 3px solid $card-starter-color;
}

.starterColor {
  border-top: 41px solid $card-starter-color;
}

.basic {
  border-top: 3px solid $card-basic-color;
}

.basicColor {
  border-top: 41px solid $card-basic-color;
}

.standard {
  border-top: 3px solid $card-standard-color;
}

.standardColor {
  border-top: 41px solid $card-standard-color;
}

.pro {
  max-width: 238px;
  border-top: 3px solid $card-pro-color;
}

.proColor {
  border-top: 41px solid $card-pro-color;
}

