.title {
    margin-bottom: 48px!important;
}

.passwordField {
    margin-bottom: 45px!important;
}

.button {
    display: inline-block!important;
    margin-top: 21px!important;
    height: 42px;
    width: 280px;
}

.form {
    width: 276px;
}
